openapi: "3.0.3"
info:
  title: "e621 API"
  version: "dadc1e4c50658851c0205e6ecbfa4723a976b0ab"
  description: |
    An API for accessing user information and other resources on e621 and e926.
    
    ## Authentication
    
    Endpoints with `x-access-level` above `anonymous` require authentication.
    Credentials are the account username and an API key issued by `/api_keys.json`,
    submitted as either HTTP Basic (username, API key) or the query/body parameters
    `login` and `api_key`.
    
    The `x-access-level` extension declares the minimum privilege level for an
    operation: `anonymous`, `logged_in`, `member`, `janitor`, `moderator`, `admin`.
servers:
  - url: "https://e621.net"
    description: "Production server for e621"
  - url: "https://e926.net"
    description: "SFW server for e926"
security:
  - {}
  - BasicAuth: []
  - ApiKeyLogin: []
    ApiKeyQuery: []
paths:
  /posts.json:
    get:
      operationId: "getPosts"
      x-access-level: "anonymous"
      tags:
        - "posts"
      summary: "Get a list of posts"
      description: |
        Returns a list of posts filtered by tags.
        
        When `v2=true`, the response uses the v2 Post format selected by `mode`
        (`basic` default, `extended`, or `thumbnail`). Otherwise the legacy
        format wrapped in `{ "posts": [...] }` is returned.
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number for pagination"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of posts to retrieve per page"
          schema:
            type: "integer"
        - name: "tags"
          in: "query"
          required: false
          description: "Filter posts by tags"
          schema:
            type: "string"
        - $ref: "#/components/parameters/PostV2Flag"
        - $ref: "#/components/parameters/PostV2Mode"
      responses:
        200:
          description: "A list of posts matching the search criteria"
          content:
            application/json:
              schema:
                oneOf:
                  - type: "object"
                    description: "Legacy response (default, or when `v2` is not \"true\"). The post array is wrapped under `posts`."
                    properties:
                      posts:
                        type: "array"
                        items:
                          $ref: "#/components/schemas/Post"
                  - type: "array"
                    description: "v2 basic format response (when `v2=true` and `mode` is unset or `basic`)."
                    items:
                      $ref: "#/components/schemas/PostV2Basic"
                  - type: "array"
                    description: "v2 extended format response (when `v2=true` and `mode=extended`)."
                    items:
                      $ref: "#/components/schemas/PostV2Extended"
                  - type: "array"
                    description: "v2 thumbnail format response (when `v2=true` and `mode=thumbnail`)."
                    items:
                      $ref: "#/components/schemas/PostV2Thumbnail"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /posts/{id}.json:
    get:
      operationId: "getPost"
      x-access-level: "anonymous"
      tags:
        - "posts"
      summary: "Get a post by ID"
      description: |
        Returns detailed information about a specific post identified by its ID.
        
        When `v2=true`, the response uses the v2 Post format selected by `mode`
        (`basic` default, `extended`, or `thumbnail`). Otherwise the legacy
        format wrapped in `{ "post": {...} }` is returned.
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post to retrieve"
          schema:
            type: "integer"
        - $ref: "#/components/parameters/PostV2Flag"
        - $ref: "#/components/parameters/PostV2Mode"
      responses:
        200:
          description: "Successful response containing post details"
          content:
            application/json:
              schema:
                oneOf:
                  - type: "object"
                    description: "Legacy response (default, or when `v2` is not \"true\"). The post is wrapped under `post`."
                    properties:
                      post:
                        $ref: "#/components/schemas/Post"
                  - $ref: "#/components/schemas/PostV2Basic"
                  - $ref: "#/components/schemas/PostV2Extended"
                  - $ref: "#/components/schemas/PostV2Thumbnail"
        404:
          description: "Post not found"
        500:
          description: "Server error"
  /users.json:
    get:
      operationId: "getUsers"
      x-access-level: "anonymous"
      tags:
        - "users"
      summary: "Get a list of users"
      description: "Returns a list of users based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of users to retrieve per page"
          schema:
            type: "integer"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter by user ID"
          schema:
            type: "string"
        - name: "search[name]"
          in: "query"
          required: false
          description: "Filter by username"
          schema:
            type: "string"
        - name: "search[about]"
          in: "query"
          required: false
          description: "Filter by user's \"About\" section"
          schema:
            type: "string"
        - name: "search[avatar_id]"
          in: "query"
          required: false
          description: "Filter by avatar ID"
          schema:
            type: "integer"
        - name: "search[level]"
          in: "query"
          required: false
          description: "Filter by user's access level"
          schema:
            type: "integer"
        - name: "search[min_level]"
          in: "query"
          required: false
          description: "Filter by minimum access level"
          schema:
            type: "integer"
        - name: "search[max_level]"
          in: "query"
          required: false
          description: "Filter by maximum access level"
          schema:
            type: "integer"
        - name: "search[can_upload_free]"
          in: "query"
          required: false
          description: "Filter by upload permissions"
          schema:
            type: "boolean"
        - name: "search[can_approve_posts]"
          in: "query"
          required: false
          description: "Filter by post approval permissions"
          schema:
            type: "boolean"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Order the results by a specific field"
          schema:
            $ref: "#/components/schemas/GetUsersSearchOrder"
      responses:
        200:
          description: "A list of users matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/User"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
    post:
      operationId: "createUser"
      x-access-level: "anonymous"
      tags:
        - "users"
      summary: "Create a new user account"
      description: "Registers a new user account. Only available when not logged in and signups are enabled."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserBody"
      responses:
        201:
          description: "User account created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        422:
          description: "Validation error"
  /users/{id}.json:
    get:
      operationId: "getUser"
      x-access-level: "anonymous"
      tags:
        - "users"
      summary: "Get user information by ID or username"
      description: "Returns detailed information about a user identified by their ID or username."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID or username of the user to retrieve"
          schema:
            type: "string"
            description: "Can be either the user's ID (integer) or username (string)"
      responses:
        200:
          description: "Successful response containing user details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        404:
          description: "User not found"
        500:
          description: "Server error"
    patch:
      operationId: "updateUser"
      x-access-level: "logged_in"
      tags:
        - "users"
      summary: "Update the current user's settings"
      description: "Updates the currently authenticated user's account settings. Users can only update their own account unless they are an admin."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the user to update (must be the current user unless admin)"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserBody"
      responses:
        200:
          description: "User updated successfully"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        403:
          description: "Access denied"
        422:
          description: "Validation error"
  /users/me.json:
    get:
      operationId: "getCurrentUser"
      x-access-level: "logged_in"
      tags:
        - "users"
      summary: "Get the current authenticated user"
      description: "Returns the currently authenticated user's full profile information."
      responses:
        200:
          description: "Current user details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        401:
          description: "Not authenticated"
  /users/{id}/upload_limit.json:
    get:
      operationId: "getUserUploadLimit"
      x-access-level: "logged_in"
      tags:
        - "users"
      summary: "Get a user's upload limit information"
      description: "Returns detailed upload limit information for a user."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID or username of the user"
          schema:
            type: "string"
      responses:
        200:
          description: "User upload limit information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        404:
          description: "User not found"
  /dmails.json:
    get:
      operationId: "getDmails"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Get a list of DMails"
      description: "Returns a list of DMails for the currently authenticated user."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of DMails to retrieve per page"
          schema:
            type: "integer"
        - name: "search[title_matches]"
          in: "query"
          required: false
          description: "Filter by title text"
          schema:
            type: "string"
        - name: "search[message_matches]"
          in: "query"
          required: false
          description: "Filter by message body text"
          schema:
            type: "string"
        - name: "search[to_name]"
          in: "query"
          required: false
          description: "Filter by recipient username"
          schema:
            type: "string"
        - name: "search[to_id]"
          in: "query"
          required: false
          description: "Filter by recipient user ID"
          schema:
            type: "integer"
        - name: "search[from_name]"
          in: "query"
          required: false
          description: "Filter by sender username"
          schema:
            type: "string"
        - name: "search[from_id]"
          in: "query"
          required: false
          description: "Filter by sender user ID"
          schema:
            type: "integer"
        - name: "search[is_read]"
          in: "query"
          required: false
          description: "Filter by read status"
          schema:
            type: "boolean"
        - name: "search[is_deleted]"
          in: "query"
          required: false
          description: "Filter by deleted status"
          schema:
            type: "boolean"
      responses:
        200:
          description: "A list of DMails"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Dmail"
        403:
          description: "Access denied"
  /dmails/{id}.json:
    get:
      operationId: "getDmail"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Get a DMail by ID"
      description: "Returns a specific DMail. Only visible to the owner, or moderators for system/ticketed DMails."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the DMail"
          schema:
            type: "integer"
      responses:
        200:
          description: "DMail details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dmail"
        403:
          description: "Access denied"
        404:
          description: "DMail not found"
    delete:
      operationId: "deleteDmail"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Delete a DMail"
      description: "Marks a DMail as deleted and read."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the DMail"
          schema:
            type: "integer"
      responses:
        200:
          description: "DMail deleted"
        403:
          description: "Access denied"
        404:
          description: "DMail not found"
  /dmails/{id}/mark_as_read.json:
    put:
      operationId: "markDmailAsRead"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Mark a DMail as read"
      description: "Marks a specific DMail as read and decrements the unread count."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the DMail"
          schema:
            type: "integer"
      responses:
        200:
          description: "DMail marked as read"
        403:
          description: "Access denied"
        404:
          description: "DMail not found"
  /dmails/{id}/mark_as_unread.json:
    put:
      operationId: "markDmailAsUnread"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Mark a DMail as unread"
      description: "Marks a specific DMail as unread and increments the unread count."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the DMail"
          schema:
            type: "integer"
      responses:
        200:
          description: "DMail marked as unread"
        403:
          description: "Access denied"
        404:
          description: "DMail not found"
  /dmails/mark_all_as_read.json:
    put:
      operationId: "markAllDmailsAsRead"
      x-access-level: "member"
      tags:
        - "dmails"
      summary: "Mark all DMails as read"
      description: "Marks all of the current user's unread DMails as read and resets the unread count."
      responses:
        200:
          description: "All DMails marked as read"
        403:
          description: "Access denied"
  /api_keys.json:
    get:
      operationId: "getApiKeys"
      x-access-level: "member"
      tags:
        - "api_keys"
      summary: "Get a list of API keys"
      description: "Returns a list of the current user's API keys. Requires reauthentication."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of API keys to retrieve per page"
          schema:
            type: "integer"
        - name: "search[name_matches]"
          in: "query"
          required: false
          description: "Filter by key name"
          schema:
            type: "string"
        - name: "search[is_expired]"
          in: "query"
          required: false
          description: "Filter by expired status"
          schema:
            type: "boolean"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Sort order"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of API keys"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ApiKey"
        403:
          description: "Access denied"
    post:
      operationId: "createApiKey"
      x-access-level: "member"
      tags:
        - "api_keys"
      summary: "Create a new API key"
      description: "Creates a new API key for the current user. Requires reauthentication."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyBody"
      responses:
        201:
          description: "API key created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        422:
          description: "Validation error"
  /api_keys/{id}.json:
    delete:
      operationId: "deleteApiKey"
      x-access-level: "member"
      tags:
        - "api_keys"
      summary: "Delete an API key"
      description: "Permanently deletes an API key. Requires reauthentication."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the API key"
          schema:
            type: "integer"
      responses:
        200:
          description: "API key deleted"
        404:
          description: "API key not found"
  /api_keys/{id}/regenerate.json:
    post:
      operationId: "regenerateApiKey"
      x-access-level: "member"
      tags:
        - "api_keys"
      summary: "Regenerate an expired API key"
      description: "Regenerates an expired API key with a new token and expiration. Only expired keys can be regenerated."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the API key"
          schema:
            type: "integer"
      responses:
        200:
          description: "API key regenerated"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        422:
          description: "API key is not expired"
  /bans.json:
    get:
      operationId: "getBans"
      x-access-level: "anonymous"
      tags:
        - "bans"
      summary: "Get a list of bans"
      description: "Returns a list of bans based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of bans to retrieve per page"
          schema:
            type: "integer"
        - name: "search[user_id]"
          in: "query"
          required: false
          description: "Filter by banned user ID"
          schema:
            type: "integer"
        - name: "search[user_name]"
          in: "query"
          required: false
          description: "Filter by banned username"
          schema:
            type: "string"
        - name: "search[banner_id]"
          in: "query"
          required: false
          description: "Filter by staff user ID who issued the ban"
          schema:
            type: "integer"
        - name: "search[banner_name]"
          in: "query"
          required: false
          description: "Filter by staff username who issued the ban"
          schema:
            type: "string"
        - name: "search[reason_matches]"
          in: "query"
          required: false
          description: "Filter by ban reason text"
          schema:
            type: "string"
        - name: "search[expired]"
          in: "query"
          required: false
          description: "Filter by expired status (true = past bans, false = active bans)"
          schema:
            type: "boolean"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Sort order"
          schema:
            $ref: "#/components/schemas/GetBansSearchOrder"
      responses:
        200:
          description: "A list of bans"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Ban"
        400:
          description: "Invalid request parameters"
  /bans/{id}.json:
    get:
      operationId: "getBan"
      x-access-level: "anonymous"
      tags:
        - "bans"
      summary: "Get a ban by ID"
      description: "Returns details of a specific ban."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the ban"
          schema:
            type: "integer"
      responses:
        200:
          description: "Ban details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ban"
        404:
          description: "Ban not found"
  /user_name_change_requests.json:
    get:
      operationId: "getUserNameChangeRequests"
      x-access-level: "moderator"
      tags:
        - "user_name_change_requests"
      summary: "Get a list of name change requests"
      description: "Returns a list of user name change requests."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of requests to retrieve per page"
          schema:
            type: "integer"
        - name: "search[original_name]"
          in: "query"
          required: false
          description: "Filter by original username"
          schema:
            type: "string"
        - name: "search[desired_name]"
          in: "query"
          required: false
          description: "Filter by desired username"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of name change requests"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserNameChangeRequest"
        403:
          description: "Access denied"
  /user_name_change_requests/{id}.json:
    get:
      operationId: "getUserNameChangeRequest"
      x-access-level: "member"
      tags:
        - "user_name_change_requests"
      summary: "Get a name change request by ID"
      description: "Returns details of a specific name change request. Members can view their own requests, moderators can view all."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the name change request"
          schema:
            type: "integer"
      responses:
        200:
          description: "Name change request details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNameChangeRequest"
        403:
          description: "Access denied"
        404:
          description: "Name change request not found"
  /staff_notes.json:
    get:
      operationId: "getStaffNotes"
      x-access-level: "janitor"
      tags:
        - "staff_notes"
      summary: "Get a list of staff notes"
      description: "Returns a list of staff notes. Requires staff-level access."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of staff notes to retrieve per page"
          schema:
            type: "integer"
        - name: "search[user_id]"
          in: "query"
          required: false
          description: "Filter by subject user ID"
          schema:
            type: "integer"
        - name: "search[user_name]"
          in: "query"
          required: false
          description: "Filter by subject username"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter by note creator user ID"
          schema:
            type: "integer"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by note creator username"
          schema:
            type: "string"
        - name: "search[updater_id]"
          in: "query"
          required: false
          description: "Filter by note updater user ID"
          schema:
            type: "integer"
        - name: "search[updater_name]"
          in: "query"
          required: false
          description: "Filter by note updater username"
          schema:
            type: "string"
        - name: "search[body_matches]"
          in: "query"
          required: false
          description: "Filter by note body text"
          schema:
            type: "string"
        - name: "search[without_system_user]"
          in: "query"
          required: false
          description: "Exclude notes created by the system user"
          schema:
            type: "boolean"
        - name: "search[include_deleted]"
          in: "query"
          required: false
          description: "Include deleted notes"
          schema:
            type: "boolean"
      responses:
        200:
          description: "A list of staff notes"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/StaffNote"
        403:
          description: "Access denied"
    post:
      operationId: "createStaffNote"
      x-access-level: "janitor"
      tags:
        - "staff_notes"
      summary: "Create a staff note"
      description: "Creates a new staff note on a user. Requires staff-level access."
      parameters:
        - name: "user_id"
          in: "query"
          required: true
          description: "The ID of the user to add the note to"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateStaffNoteBody"
      responses:
        201:
          description: "Staff note created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaffNote"
        403:
          description: "Access denied"
        422:
          description: "Validation error"
  /staff_notes/{id}.json:
    get:
      operationId: "getStaffNote"
      x-access-level: "janitor"
      tags:
        - "staff_notes"
      summary: "Get a staff note by ID"
      description: "Returns details of a specific staff note. Requires staff-level access."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the staff note"
          schema:
            type: "integer"
      responses:
        200:
          description: "Staff note details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StaffNote"
        403:
          description: "Access denied"
        404:
          description: "Staff note not found"
  /tickets.json:
    get:
      operationId: "getTickets"
      x-access-level: "anonymous"
      tags:
        - "tickets"
      summary: "Get a list of tickets"
      description: "Returns a list of tickets based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of tickets to retrieve per page"
          schema:
            type: "integer"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the ticket"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the ticket"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter by ticket ID"
          schema:
            type: "string"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the creator's username"
          schema:
            type: "string"
        - name: "search[accused_name]"
          in: "query"
          required: false
          description: "Filter by the accused user's username"
          schema:
            type: "string"
        - name: "search[claimant_name]"
          in: "query"
          required: false
          description: "Filter by the claimant's username"
          schema:
            type: "string"
        - name: "search[reason]"
          in: "query"
          required: false
          description: "Filter by the reason for the ticket"
          schema:
            type: "string"
        - name: "search[qtype]"
          in: "query"
          required: false
          description: "Filter by the type of the ticket (e.g., user, comment, post)"
          schema:
            $ref: "#/components/schemas/TicketQtype"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter by the status of the ticket"
          schema:
            $ref: "#/components/schemas/GetAppealsSearchStatus"
        - name: "search[disp_id]"
          in: "query"
          required: false
          description: "Filter by the reported content ID"
          schema:
            type: "integer"
      responses:
        200:
          description: "A list of tickets matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Ticket"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /tickets/{id}.json:
    get:
      operationId: "getTicket"
      x-access-level: "member"
      tags:
        - "tickets"
      summary: "Get a ticket by ID"
      description: "Returns detailed information about a specific ticket identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the ticket to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing ticket details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        404:
          description: "Ticket not found"
        500:
          description: "Server error"
    put:
      operationId: "updateTicket"
      x-access-level: "moderator"
      tags:
        - "tickets"
      summary: "Update a ticket"
      description: "Updates a ticket's status and response. Automatically claims the ticket for the current user."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the ticket"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTicketBody"
      responses:
        200:
          description: "The updated ticket"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        422:
          description: "Validation error"
        403:
          description: "Access denied"
  /tickets/{id}/claim.json:
    post:
      operationId: "claimTicket"
      x-access-level: "moderator"
      tags:
        - "tickets"
      summary: "Claim a ticket"
      description: "Claims a pending ticket to indicate you are handling it."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the ticket"
          schema:
            type: "integer"
      responses:
        200:
          description: "The claimed ticket"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        403:
          description: "Access denied"
  /tickets/{id}/unclaim.json:
    post:
      operationId: "unclaimTicket"
      x-access-level: "moderator"
      tags:
        - "tickets"
      summary: "Unclaim a ticket"
      description: "Releases your claim on a ticket so others can handle it."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the ticket"
          schema:
            type: "integer"
      responses:
        200:
          description: "The unclaimed ticket"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        403:
          description: "Access denied"
  /appeals.json:
    get:
      operationId: "getAppeals"
      x-access-level: "anonymous"
      tags:
        - "appeals"
      summary: "Get a list of appeals"
      description: |
        Returns appeals visible to the current user. Non-staff users only see their own
        appeals. Several search filters are restricted to staff.
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of appeals to retrieve per page"
          schema:
            type: "integer"
        - name: "search[qtype]"
          in: "query"
          required: false
          description: "Filter by appeal type"
          schema:
            $ref: "#/components/schemas/AppealQtype"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter by appeal status"
          schema:
            $ref: "#/components/schemas/GetAppealsSearchStatus"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Sort order"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter by creator ID. Non-staff may only filter on their own ID."
          schema:
            type: "integer"
        - name: "search[disp_id]"
          in: "query"
          required: false
          description: "Filter by the appealed content ID (staff only)"
          schema:
            type: "integer"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by creator username (staff only)"
          schema:
            type: "string"
        - name: "search[accused_name]"
          in: "query"
          required: false
          description: "Filter by accused username (staff only)"
          schema:
            type: "string"
        - name: "search[accused_id]"
          in: "query"
          required: false
          description: "Filter by accused user ID (staff only)"
          schema:
            type: "integer"
        - name: "search[claimant_id]"
          in: "query"
          required: false
          description: "Filter by claimant ID (staff only)"
          schema:
            type: "integer"
        - name: "search[claimant_name]"
          in: "query"
          required: false
          description: "Filter by claimant username (staff only)"
          schema:
            type: "string"
        - name: "search[reason]"
          in: "query"
          required: false
          description: "Filter by reason text (staff only)"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of appeals matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Appeal"
        500:
          description: "Server error"
    post:
      operationId: "createAppeal"
      x-access-level: "member"
      tags:
        - "appeals"
      summary: "Create an appeal"
      description: "Creates a new appeal. For `qtype=flag`, only the uploader of the flagged post may create the appeal."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAppealBody"
      responses:
        302:
          description: "Redirects to the created appeal on success"
        403:
          description: "Access denied"
        422:
          description: "Validation error"
  /appeals/{id}.json:
    get:
      operationId: "getAppeal"
      x-access-level: "member"
      tags:
        - "appeals"
      summary: "Get an appeal by ID"
      description: "Returns detailed information about a specific appeal."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the appeal to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing appeal details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appeal"
        403:
          description: "Access denied"
        404:
          description: "Appeal not found"
    put:
      operationId: "updateAppeal"
      x-access-level: "janitor"
      tags:
        - "appeals"
      summary: "Update an appeal"
      description: |
        Updates an appeal's status and response. Claims the appeal for the current user.
        If already claimed by someone else, the request redirects to a confirmation
        page unless `force_claim=true` is set.
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the appeal"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAppealBody"
      responses:
        200:
          description: "The updated appeal"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appeal"
        403:
          description: "Access denied"
        422:
          description: "Validation error"
  /appeals/{id}/claim.json:
    post:
      operationId: "claimAppeal"
      x-access-level: "janitor"
      tags:
        - "appeals"
      summary: "Claim an appeal"
      description: "Claims a pending appeal to indicate you are handling it."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the appeal"
          schema:
            type: "integer"
      responses:
        200:
          description: "The claimed appeal"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appeal"
        403:
          description: "Access denied"
  /appeals/{id}/unclaim.json:
    post:
      operationId: "unclaimAppeal"
      x-access-level: "janitor"
      tags:
        - "appeals"
      summary: "Unclaim an appeal"
      description: "Releases the current user's claim on an appeal. Approved appeals cannot be unclaimed."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the appeal"
          schema:
            type: "integer"
      responses:
        200:
          description: "The unclaimed appeal"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Appeal"
        403:
          description: "Access denied"
  /user_feedbacks.json:
    get:
      operationId: "getUserFeedbacks"
      x-access-level: "anonymous"
      tags:
        - "user_feedbacks"
      summary: "Get a list of user feedbacks"
      description: "Returns a list of user feedbacks based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of feedbacks to retrieve per page"
          schema:
            type: "integer"
        - name: "search[category]"
          in: "query"
          required: false
          description: "Filter by feedback category"
          schema:
            $ref: "#/components/schemas/UserFeedbackCategory"
        - name: "search[deleted]"
          in: "query"
          required: false
          description: "Filter by deletion status of the feedback"
          schema:
            $ref: "#/components/schemas/GetPostVersionsSearchUploads"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the feedback"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the feedback"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of user feedbacks matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/UserFeedback"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /user_feedbacks/{id}.json:
    get:
      operationId: "getUserFeedback"
      x-access-level: "anonymous"
      tags:
        - "user_feedbacks"
      summary: "Get a user feedback by ID"
      description: "Returns detailed information about a specific user feedback identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the user feedback to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing user feedback details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserFeedback"
        404:
          description: "User feedback not found"
        500:
          description: "Server error"
    put:
      operationId: "updateUserFeedback"
      x-access-level: "moderator"
      tags:
        - "user_feedbacks"
      summary: "Update a user feedback"
      description: "Updates the body and/or category of an existing user feedback."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the user feedback to update"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserFeedbackBody"
      responses:
        200:
          description: "Successfully updated user feedback"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserFeedback"
        403:
          description: "Not authorized to edit this feedback"
        404:
          description: "User feedback not found"
        422:
          description: "Validation error"
  /user_feedbacks/{id}/delete.json:
    put:
      operationId: "deleteUserFeedback"
      x-access-level: "moderator"
      tags:
        - "user_feedbacks"
      summary: "Soft-delete a user feedback"
      description: "Marks a user feedback as deleted without permanently removing it."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the user feedback to delete"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successfully deleted user feedback"
        403:
          description: "Not authorized to delete this feedback"
        404:
          description: "User feedback not found"
  /user_feedbacks/{id}/undelete.json:
    put:
      operationId: "undeleteUserFeedback"
      x-access-level: "moderator"
      tags:
        - "user_feedbacks"
      summary: "Undelete a user feedback"
      description: "Restores a previously soft-deleted user feedback."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the user feedback to undelete"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successfully undeleted user feedback"
        403:
          description: "Not authorized to undelete this feedback"
        404:
          description: "User feedback not found"
  /post_approvals.json:
    get:
      operationId: "getPostApprovals"
      x-access-level: "anonymous"
      tags:
        - "approvals"
      summary: "Get a list of post approvals"
      description: "Returns a list of post approvals based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of approvals to retrieve per page"
          schema:
            type: "integer"
        - name: "search[user_name]"
          in: "query"
          required: false
          description: "Filter approvals by approver username"
          schema:
            type: "integer"
        - name: "search[post_tags_match]"
          in: "query"
          required: false
          description: "Filter approvals by matching post tagss"
          schema:
            type: "integer"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the approval"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the approval"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter by approval ID"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of approvals matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Approval"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /uploads.json:
    get:
      operationId: "getUploads"
      x-access-level: "janitor"
      tags:
        - "uploads"
      summary: "Get a list of uploads"
      description: "Returns a list of uploads based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of uploads to retrieve per page"
          schema:
            type: "integer"
        - name: "search[uploader_name]"
          in: "query"
          required: false
          description: "Filter uploads by uploader's username"
          schema:
            type: "string"
        - name: "search[post_tags_match]"
          in: "query"
          required: false
          description: "Filter uploads by post tags"
          schema:
            type: "string"
        - name: "search[source_matches]"
          in: "query"
          required: false
          description: "Filter uploads by source"
          schema:
            type: "string"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter uploads by status"
          schema:
            $ref: "#/components/schemas/GetUploadsSearchStatus"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the upload"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the upload"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of uploads matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Upload"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /uploads/{id}.json:
    get:
      operationId: "getUpload"
      x-access-level: "janitor"
      tags:
        - "uploads"
      summary: "Get an upload by ID"
      description: "Returns detailed information about a specific upload identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the upload to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing upload details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Upload"
        404:
          description: "Upload not found"
        500:
          description: "Server error"
  /post_flags.json:
    get:
      operationId: "getPostFlags"
      x-access-level: "anonymous"
      tags:
        - "post_flags"
      summary: "Get a list of post flags"
      description: "Returns a list of post flags based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of post flags to retrieve per page"
          schema:
            type: "integer"
        - name: "search[reason_matches]"
          in: "query"
          required: false
          description: "Filter post flags by matching reason text"
          schema:
            type: "string"
        - name: "search[post_tags_match]"
          in: "query"
          required: false
          description: "Filter post flags by matching post tags"
          schema:
            type: "string"
        - name: "search[post_id]"
          in: "query"
          required: false
          description: "Filter post flags by post ID"
          schema:
            type: "integer"
        - name: "search[type]"
          in: "query"
          required: false
          description: "Filter post flags by type (e.g., flag or deletion)"
          schema:
            $ref: "#/components/schemas/PostFlagType"
        - name: "search[is_resolved]"
          in: "query"
          required: false
          description: "Filter post flags by resolution status"
          schema:
            type: "boolean"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter post flags by the creator's username"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter post flags by creator ID"
          schema:
            type: "integer"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter post flags by creation date"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter post flags by last update date"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter post flags by flag ID"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of post flags matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/PostFlag"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
    post:
      operationId: "createPostFlag"
      x-access-level: "member"
      tags:
        - "post_flags"
      summary: "Create a post flag"
      description: "Creates a new flag or deletion request for a post."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePostFlagBody"
      responses:
        201:
          description: "Post flag created"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostFlag"
        422:
          description: "Validation error"
  /post_flags/{id}.json:
    get:
      operationId: "getPostFlag"
      x-access-level: "anonymous"
      tags:
        - "post_flags"
      summary: "Get a post flag by ID"
      description: "Returns detailed information about a specific post flag identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post flag to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing post flag details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostFlag"
        404:
          description: "Post flag not found"
        500:
          description: "Server error"
  /post_versions.json:
    get:
      operationId: "getPostVersions"
      x-access-level: "anonymous"
      tags:
        - "post_versions"
      summary: "Get a list of post versions"
      description: "Returns a list of post versions based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number for pagination"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of post versions to retrieve per page"
          schema:
            type: "integer"
        - name: "search[updater_name]"
          in: "query"
          required: false
          description: "Filter post versions by the updater's username"
          schema:
            type: "string"
        - name: "search[post_id]"
          in: "query"
          required: false
          description: "Filter post versions by post ID"
          schema:
            type: "integer"
        - name: "search[reason]"
          in: "query"
          required: false
          description: "Filter post versions by the reason for the update"
          schema:
            type: "string"
        - name: "search[description]"
          in: "query"
          required: false
          description: "Filter post versions by description"
          schema:
            type: "string"
        - name: "search[description_changed]"
          in: "query"
          required: false
          description: "Filter post versions by whether the description was changed"
          schema:
            type: "boolean"
        - name: "search[rating_changed]"
          in: "query"
          required: false
          description: "Filter post versions by whether the rating was changed"
          schema:
            $ref: "#/components/schemas/GetPostVersionsSearchRatingChanged"
        - name: "search[rating]"
          in: "query"
          required: false
          description: "Filter post versions by rating"
          schema:
            $ref: "#/components/schemas/PostRating"
        - name: "search[parent_id]"
          in: "query"
          required: false
          description: "Filter post versions by parent post ID"
          schema:
            type: "integer"
        - name: "search[parent_id_changed]"
          in: "query"
          required: false
          description: "Filter post versions by whether the parent ID was changed"
          schema:
            type: "boolean"
        - name: "search[tags]"
          in: "query"
          required: false
          description: "Filter post versions by tags"
          schema:
            type: "string"
        - name: "search[tags_added]"
          in: "query"
          required: false
          description: "Filter post versions by tags added"
          schema:
            type: "string"
        - name: "search[tags_removed]"
          in: "query"
          required: false
          description: "Filter post versions by tags removed"
          schema:
            type: "string"
        - name: "search[locked_tags]"
          in: "query"
          required: false
          description: "Filter post versions by locked tags"
          schema:
            type: "string"
        - name: "search[locked_tags_added]"
          in: "query"
          required: false
          description: "Filter post versions by locked tags added"
          schema:
            type: "string"
        - name: "search[locked_tags_removed]"
          in: "query"
          required: false
          description: "Filter post versions by locked tags removed"
          schema:
            type: "string"
        - name: "search[source_changed]"
          in: "query"
          required: false
          description: "Filter post versions by whether the source was changed"
          schema:
            type: "boolean"
        - name: "search[uploads]"
          in: "query"
          required: false
          description: "Filter post versions by uploads status"
          schema:
            $ref: "#/components/schemas/GetPostVersionsSearchUploads"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter post versions by creation date"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter post versions by last update date"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of post versions matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/PostVersion"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /post_versions/{id}/undo.json:
    put:
      operationId: "undoPostVersion"
      x-access-level: "member"
      tags:
        - "post_versions"
      summary: "Undo a post version"
      description: "Reverts the changes made in a specific post version."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post version to undo"
          schema:
            type: "integer"
      responses:
        200:
          description: "The post version was undone"
        403:
          description: "Access denied"
  /post_versions/{id}/hide.json:
    put:
      operationId: "hidePostVersion"
      x-access-level: "bd_staff"
      tags:
        - "post_versions"
      summary: "Hide a post version"
      description: "Hides a post version from public view."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post version to hide"
          schema:
            type: "integer"
      responses:
        302:
          description: "Redirects back after hiding"
        403:
          description: "Access denied"
  /post_versions/{id}/unhide.json:
    put:
      operationId: "unhidePostVersion"
      x-access-level: "bd_staff"
      tags:
        - "post_versions"
      summary: "Unhide a post version"
      description: "Restores a hidden post version to public view."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post version to unhide"
          schema:
            type: "integer"
      responses:
        302:
          description: "Redirects back after unhiding"
        403:
          description: "Access denied"
  /post_replacements.json:
    get:
      operationId: "getPostReplacements"
      x-access-level: "anonymous"
      tags:
        - "post_replacements"
      summary: "Get a list of post replacements"
      description: "Returns a list of post replacements based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of replacements to retrieve per page"
          schema:
            type: "integer"
        - name: "search[md5]"
          in: "query"
          required: false
          description: "Filter replacements by the MD5 hash of the file"
          schema:
            type: "string"
        - name: "search[post_id]"
          in: "query"
          required: false
          description: "Filter replacements by post ID"
          schema:
            type: "integer"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter replacements by the creator's username"
          schema:
            type: "string"
        - name: "search[approver_name]"
          in: "query"
          required: false
          description: "Filter replacements by the approver's username"
          schema:
            type: "string"
        - name: "search[uploader_name_on_approve]"
          in: "query"
          required: false
          description: "Filter replacements by the uploader's username at approval time"
          schema:
            type: "string"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter replacements by status"
          schema:
            $ref: "#/components/schemas/GetPostReplacementsSearchStatus"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter replacements by creation date"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter replacements by last update date"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter replacements by replacement ID"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of post replacements matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/PostReplacement"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
    post:
      operationId: "createPostReplacement"
      x-access-level: "member"
      tags:
        - "post_replacements"
      summary: "Create a post replacement"
      description: "Creates a new post replacement for a given post."
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CreatePostReplacementBody"
      responses:
        200:
          description: "The created post replacement"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  success:
                    type: "boolean"
                  location:
                    type: "string"
                  message:
                    type: "string"
        412:
          description: "Replacement validation failed"
        403:
          description: "Access denied"
  /post_replacements/{id}.json:
    delete:
      operationId: "destroyPostReplacement"
      x-access-level: "admin"
      tags:
        - "post_replacements"
      summary: "Destroy a post replacement"
      description: "Permanently removes a post replacement."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post replacement"
          schema:
            type: "integer"
      responses:
        200:
          description: "The post replacement was destroyed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostReplacement"
        403:
          description: "Access denied"
        404:
          description: "Post replacement not found"
  /post_replacements/{id}/approve.json:
    put:
      operationId: "approvePostReplacement"
      x-access-level: "approver"
      tags:
        - "post_replacements"
      summary: "Approve a post replacement"
      description: "Approves a pending post replacement."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post replacement"
          schema:
            type: "integer"
        - name: "penalize_current_uploader"
          in: "query"
          required: false
          description: "Whether to penalize the current uploader"
          schema:
            type: "boolean"
      responses:
        200:
          description: "The approved post replacement"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostReplacement"
        400:
          description: "Replacement approval failed"
        403:
          description: "Access denied"
  /post_replacements/{id}/reject.json:
    put:
      operationId: "rejectPostReplacement"
      x-access-level: "approver"
      tags:
        - "post_replacements"
      summary: "Reject a post replacement"
      description: "Rejects a pending post replacement."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post replacement"
          schema:
            type: "integer"
      responses:
        200:
          description: "The rejected post replacement"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostReplacement"
        403:
          description: "Access denied"
  /post_replacements/{id}/promote.json:
    post:
      operationId: "promotePostReplacement"
      x-access-level: "approver"
      tags:
        - "post_replacements"
      summary: "Promote a post replacement"
      description: "Promotes a post replacement to a new post."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post replacement"
          schema:
            type: "integer"
      responses:
        200:
          description: "The promoted post replacement"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        422:
          description: "Promotion failed"
        403:
          description: "Access denied"
  /post_replacements/{id}/toggle_penalize.json:
    put:
      operationId: "togglePenalizePostReplacement"
      x-access-level: "approver"
      tags:
        - "post_replacements"
      summary: "Toggle penalize on a post replacement"
      description: "Toggles the penalize flag on a post replacement."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the post replacement"
          schema:
            type: "integer"
      responses:
        200:
          description: "The updated post replacement"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostReplacement"
        403:
          description: "Access denied"
  /mod_actions.json:
    get:
      operationId: "getModActions"
      x-access-level: "anonymous"
      tags:
        - "mod_actions"
      summary: "Get a list of moderation actions"
      description: "Returns a list of moderation actions based on search criteria."
      parameters:
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the name of the creator of the moderation action"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter by the ID of the creator of the moderation action"
          schema:
            type: "integer"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the moderation action"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the moderation action"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter by the ID of the moderation action"
          schema:
            type: "string"
        - name: "search[action]"
          in: "query"
          required: false
          description: "Filter by the type of moderation action"
          schema:
            $ref: "#/components/schemas/GetModActionsSearchAction"
      responses:
        200:
          description: "A list of moderation actions matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/ModAction"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /mod_actions/{id}.json:
    get:
      operationId: "getModAction"
      x-access-level: "anonymous"
      tags:
        - "mod_actions"
      summary: "Get a moderation action by ID"
      description: "Returns detailed information about a specific moderation action identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the moderation action to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing moderation action details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModAction"
        404:
          description: "Moderation action not found"
        500:
          description: "Server error"
  /bulk_update_requests.json:
    get:
      operationId: "getBulkUpdateRequests"
      x-access-level: "anonymous"
      tags:
        - "bulk_update_requests"
      summary: "Get a list of bulk update requests"
      description: "Returns a list of bulk update requests filtered by various criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of bulk update requests to retrieve per page"
          schema:
            type: "integer"
        - name: "search[user_name]"
          in: "query"
          required: false
          description: "Filter by the username of the creator"
          schema:
            type: "string"
        - name: "search[approver_name]"
          in: "query"
          required: false
          description: "Filter by the username of the approver"
          schema:
            type: "string"
        - name: "search[title_matches]"
          in: "query"
          required: false
          description: "Filter by the title of the request"
          schema:
            type: "string"
        - name: "search[script_matches]"
          in: "query"
          required: false
          description: "Filter by script content in the request"
          schema:
            type: "string"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter by the status of the request"
          schema:
            $ref: "#/components/schemas/BulkUpdateRequestStatus"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Order the results by a specific field"
          schema:
            $ref: "#/components/schemas/GetBulkUpdateRequestsSearchOrder"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the request"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the request"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of bulk update requests matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/BulkUpdateRequest"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
    post:
      operationId: "createBulkUpdateRequest"
      x-access-level: "member"
      tags:
        - "bulk_update_requests"
      summary: "Create a bulk update request"
      description: "Creates a new bulk update request."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBulkUpdateRequestBody"
      responses:
        200:
          description: "The created bulk update request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        422:
          description: "Validation error"
        403:
          description: "Access denied"
  /bulk_update_requests/{id}.json:
    get:
      operationId: "getBulkUpdateRequest"
      x-access-level: "anonymous"
      tags:
        - "bulk_update_requests"
      summary: "Get a bulk update request by ID"
      description: "Returns detailed information about a specific bulk update request identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the bulk update request to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing bulk update request details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        404:
          description: "Bulk update request not found"
        500:
          description: "Server error"
    put:
      operationId: "updateBulkUpdateRequest"
      x-access-level: "member"
      tags:
        - "bulk_update_requests"
      summary: "Update a bulk update request"
      description: "Updates an existing bulk update request. Only the creator or admin can update."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the bulk update request"
          schema:
            type: "integer"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateBulkUpdateRequestBody"
      responses:
        200:
          description: "The updated bulk update request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        422:
          description: "Validation error"
        403:
          description: "Access denied"
    delete:
      operationId: "destroyBulkUpdateRequest"
      x-access-level: "member"
      tags:
        - "bulk_update_requests"
      summary: "Reject a bulk update request"
      description: "Rejects a bulk update request. Only the creator or admin can reject."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the bulk update request"
          schema:
            type: "integer"
      responses:
        200:
          description: "The bulk update request was rejected"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        403:
          description: "Access denied"
  /bulk_update_requests/{id}/approve.json:
    post:
      operationId: "approveBulkUpdateRequest"
      x-access-level: "admin"
      tags:
        - "bulk_update_requests"
      summary: "Approve a bulk update request"
      description: "Approves and executes a bulk update request."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the bulk update request"
          schema:
            type: "integer"
      responses:
        200:
          description: "The approved bulk update request"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUpdateRequest"
        422:
          description: "Approval failed"
        403:
          description: "Access denied"
  /tag_aliases.json:
    get:
      operationId: "getTagAliases"
      x-access-level: "anonymous"
      tags:
        - "tag_aliases"
      summary: "Get a list of tag aliases"
      description: "Returns a list of tag aliases filtered by various criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of tag aliases to retrieve per page"
          schema:
            type: "integer"
        - name: "search[name_matches]"
          in: "query"
          required: false
          description: "Filter by matching names"
          schema:
            type: "string"
        - name: "search[antecedent_name]"
          in: "query"
          required: false
          description: "Filter by the antecedent name of the alias"
          schema:
            type: "string"
        - name: "search[consequent_name]"
          in: "query"
          required: false
          description: "Filter by the consequent name of the alias"
          schema:
            type: "string"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the creator's username"
          schema:
            type: "string"
        - name: "search[approver_name]"
          in: "query"
          required: false
          description: "Filter by the approver's username"
          schema:
            type: "string"
        - name: "search[antecedent_tag_category]"
          in: "query"
          required: false
          description: "Filter by the tag category of the antecedent tag"
          schema:
            type: "integer"
        - name: "search[consequent_tag_category]"
          in: "query"
          required: false
          description: "Filter by the tag category of the consequent tag"
          schema:
            type: "integer"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter by the status of the tag alias"
          schema:
            $ref: "#/components/schemas/GetTagAliasesSearchStatus"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Order the results by a specific field"
          schema:
            $ref: "#/components/schemas/GetTagAliasesSearchOrder"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the request"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the request"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of tag aliases matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/TagAlias"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /tag_aliases/{id}.json:
    get:
      operationId: "getTagAlias"
      x-access-level: "anonymous"
      tags:
        - "tag_aliases"
      summary: "Get a tag alias by ID"
      description: "Returns detailed information about a specific tag alias identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the tag alias to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing tag alias details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagAlias"
        404:
          description: "Tag alias not found"
        500:
          description: "Server error"
  /tag_implications.json:
    get:
      operationId: "getTagImplications"
      x-access-level: "anonymous"
      tags:
        - "tag_implications"
      summary: "Get a list of tag implications"
      description: "Returns a list of tag implications filtered by various criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of tag implications to retrieve per page"
          schema:
            type: "integer"
        - name: "search[name_matches]"
          in: "query"
          required: false
          description: "Filter by matching names"
          schema:
            type: "string"
        - name: "search[antecedent_name]"
          in: "query"
          required: false
          description: "Filter by the antecedent name of the implication"
          schema:
            type: "string"
        - name: "search[consequent_name]"
          in: "query"
          required: false
          description: "Filter by the consequent name of the implication"
          schema:
            type: "string"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the creator's username"
          schema:
            type: "string"
        - name: "search[approver_name]"
          in: "query"
          required: false
          description: "Filter by the approver's username"
          schema:
            type: "string"
        - name: "search[antecedent_tag_category]"
          in: "query"
          required: false
          description: "Filter by the tag category of the antecedent tag"
          schema:
            type: "integer"
        - name: "search[consequent_tag_category]"
          in: "query"
          required: false
          description: "Filter by the tag category of the consequent tag"
          schema:
            type: "integer"
        - name: "search[status]"
          in: "query"
          required: false
          description: "Filter by the status of the tag implication"
          schema:
            $ref: "#/components/schemas/GetTagAliasesSearchStatus"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Order the results by a specific field"
          schema:
            $ref: "#/components/schemas/GetTagAliasesSearchOrder"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the request"
          schema:
            type: "string"
        - name: "search[updated_at]"
          in: "query"
          required: false
          description: "Filter by the last update date of the request"
          schema:
            type: "string"
      responses:
        200:
          description: "A list of tag implications matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/TagImplication"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /tag_implications/{id}.json:
    get:
      operationId: "getTagImplication"
      x-access-level: "anonymous"
      tags:
        - "tag_implications"
      summary: "Get a tag implication by ID"
      description: "Returns detailed information about a specific tag implication identified by its ID."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The unique ID of the tag implication to retrieve"
          schema:
            type: "integer"
      responses:
        200:
          description: "Successful response containing tag implication details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagImplication"
        404:
          description: "Tag implication not found"
        500:
          description: "Server error"
  /post_events.json:
    get:
      operationId: "getPostEvents"
      x-access-level: "anonymous"
      tags:
        - "post_events"
      summary: "Get a list of post events"
      description: |
        Returns a list of post events filtered by various criteria.
        
        When `v2=true`, the response is an unwrapped array. Otherwise the array is
        wrapped under `post_events`.
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of post events to retrieve per page"
          schema:
            type: "integer"
        - name: "search[post_id]"
          in: "query"
          required: false
          description: "Filter by post ID"
          schema:
            type: "integer"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the creator's username"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter by the creator's ID"
          schema:
            type: "integer"
        - name: "search[action]"
          in: "query"
          required: false
          description: "Filter by the action performed"
          schema:
            $ref: "#/components/schemas/PostEventAction"
        - name: "search[created_at]"
          in: "query"
          required: false
          description: "Filter by the creation date of the event"
          schema:
            type: "string"
        - name: "search[id]"
          in: "query"
          required: false
          description: "Filter by event ID"
          schema:
            type: "string"
        - $ref: "#/components/parameters/PostV2Flag"
      responses:
        200:
          description: "A list of post events matching the search criteria"
          content:
            application/json:
              schema:
                oneOf:
                  - type: "object"
                    description: "Legacy response (default). The array is wrapped under `post_events`."
                    properties:
                      post_events:
                        type: "array"
                        items:
                          $ref: "#/components/schemas/PostEvent"
                  - type: "array"
                    description: "Unwrapped response (when `v2=true`)."
                    items:
                      $ref: "#/components/schemas/PostEvent"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /artists.json:
    get:
      operationId: "getArtists"
      x-access-level: "anonymous"
      tags:
        - "artists"
      summary: "Get a list of artists"
      description: "Returns a list of artists based on search criteria."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of artists to retrieve per page"
          schema:
            type: "integer"
        - name: "search[name]"
          in: "query"
          required: false
          description: "Filter by exact artist name"
          schema:
            type: "string"
        - name: "search[any_name_matches]"
          in: "query"
          required: false
          description: "Filter by partial name match (searches name, other names, and group name)"
          schema:
            type: "string"
        - name: "search[any_name_or_url_matches]"
          in: "query"
          required: false
          description: "Filter by name or URL match"
          schema:
            type: "string"
        - name: "search[url_matches]"
          in: "query"
          required: false
          description: "Filter by URL match"
          schema:
            type: "string"
        - name: "search[group_name]"
          in: "query"
          required: false
          description: "Filter by group name"
          schema:
            type: "string"
        - name: "search[creator_name]"
          in: "query"
          required: false
          description: "Filter by the creator's username"
          schema:
            type: "string"
        - name: "search[creator_id]"
          in: "query"
          required: false
          description: "Filter by the creator's user ID"
          schema:
            type: "integer"
        - name: "search[linked_user_name]"
          in: "query"
          required: false
          description: "Filter by the linked user's username"
          schema:
            type: "string"
        - name: "search[linked_user_id]"
          in: "query"
          required: false
          description: "Filter by the linked user's ID"
          schema:
            type: "integer"
        - name: "search[is_linked]"
          in: "query"
          required: false
          description: "Filter by whether a user is linked"
          schema:
            type: "boolean"
        - name: "search[has_tag]"
          in: "query"
          required: false
          description: "Filter by whether the artist has a tag with posts"
          schema:
            type: "boolean"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Sort order"
          schema:
            $ref: "#/components/schemas/GetArtistsSearchOrder"
      responses:
        200:
          description: "A list of artists matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/Artist"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /artists/{id}.json:
    get:
      operationId: "getArtist"
      x-access-level: "anonymous"
      tags:
        - "artists"
      summary: "Get an artist by ID or name"
      description: "Returns detailed information about a specific artist."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The artist ID or name"
          schema:
            type: "string"
      responses:
        200:
          description: "Successful response containing artist details"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Artist"
        404:
          description: "Artist not found"
  /edit_histories.json:
    get:
      operationId: "getEditHistories"
      x-access-level: "moderator"
      tags:
        - "edit_histories"
      summary: "Search edit histories"
      description: "Returns a list of edit histories for comments, forum posts, and blips."
      parameters:
        - name: "page"
          in: "query"
          required: false
          description: "The page number to retrieve"
          schema:
            type: "integer"
        - name: "limit"
          in: "query"
          required: false
          description: "The number of results to retrieve per page"
          schema:
            type: "integer"
        - name: "search[body_matches]"
          in: "query"
          required: false
          description: "Filter by body text"
          schema:
            type: "string"
        - name: "search[subject_matches]"
          in: "query"
          required: false
          description: "Filter by subject text"
          schema:
            type: "string"
        - name: "search[versionable_type]"
          in: "query"
          required: false
          description: "Filter by edited item type"
          schema:
            $ref: "#/components/schemas/GetEditHistoryType"
        - name: "search[versionable_id]"
          in: "query"
          required: false
          description: "Filter by edited item ID"
          schema:
            type: "integer"
        - name: "search[editor_name]"
          in: "query"
          required: false
          description: "Filter by editor username"
          schema:
            type: "string"
        - name: "search[editor_id]"
          in: "query"
          required: false
          description: "Filter by editor user ID"
          schema:
            type: "integer"
        - name: "search[order]"
          in: "query"
          required: false
          description: "Sort order"
          schema:
            $ref: "#/components/schemas/GetEditHistoriesSearchOrder"
      responses:
        200:
          description: "A list of edit histories matching the search criteria"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: "#/components/schemas/EditHistory"
        400:
          description: "Invalid request parameters"
        500:
          description: "Server error"
  /edit_histories/{id}.json:
    get:
      operationId: "getEditHistory"
      x-access-level: "moderator"
      tags:
        - "edit_histories"
      summary: "Get edit history for a specific item"
      description: "Returns all edit history versions for a specific comment, forum post, or blip."
      parameters:
        - name: "id"
          in: "path"
          required: true
          description: "The ID of the edited item"
          schema:
            type: "integer"
        - name: "type"
          in: "query"
          required: true
[...]
